*, body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}
.box{
    width: 300px;
    height: 300px;
    margin-left: 30px;
    margin-top: 57px;
    background: url(../images/istockphoto-524019138-170667a.png) left right repeat two, url(../images/car.png);
}
