*, body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

.box{
   margin-top: 200px;
   
}
.car{
   
    position: fixed;
   
    animation: movecar 5s infinite;
    left: 0;
    transition: 2s;
}
.car:hover{
    transform: rotate(180d);
}
.wheel, .wheel1{
   
    position: fixed;
   
    
}
.wheel{
   
    margin-top: 36px;
}
.wheel1{
    margin-left: 95px;
    margin-top: 36px;
}
@keyframes movecar {
 0%{
    .car:hover{
        transform: rotate(180d);
    }
 }
 100%{
    transform: translateX(100%);
    left: 100%;
 }
}
