*, body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}
.header{
    background: $base-color;
    padding-top: 82px;
}
.container{
    max-width: 1170px;
    .navigation{
        width: 1140px;
        display: flex;
        justify-content: space-between;
        .menu div{
            width: 34px;
            height: 20px;
            background-color: $black;
            height: 2px;
           margin: 2px 0;
        }
        .logo{
            width: 148px;
            height: 54px;
        }
    }
    .text{
            margin-bottom: 202px;
            margin-left: 234px;
            .badge{
                color: $lightpink
            }
        }
    .form{
        width: 375px;
        height: 388px;
        background-color: $white;
        .sm-header-text{
            .badge{
                color: $lightpink
            }
        }
    }
    .card{
        background-color: $blue;
        display: inline-block;
        
        
        .card-img-top {
            width: 45px;
            height: 45px;
           margin-top: 55px;
           margin-left: 108px;
        }
        .card-title, .card-text{
            text-align: center;
        }
        .card-body{
            padding-top: 40px;
        }
        .btn{
            color: $black;
            margin-top: 40px;
            --bs-btn-padding-x: 4rem;
            --bs-btn-padding-y: 0.9rem;
            --bs-btn-border-radius: 7rem;
        }
    }
    .card:nth-child(3){
        background-color: $purple;
        margin-left: 28px;
    }
    .card:nth-child(4){
        background-color: $indigo;
        margin-left: 28px;
    }
    .card:last-child{
        background-color: $pink;
        margin-left: 28px;
    }
    .box{
        display: flex;
        flex-wrap: wrap;
        .box-item{
            width: 360px;
            height: 360px;
            background-color: $orange;
            margin: auto;
            margin-left: 20px;
            margin-top: 20px;
        }
        .box-item1{
          width: 360px;
          height: 444px;
          background-color: $orange;
          .box-item-small{
            width: 262px;
          height: 94px;
          background-color: $white;
          margin: 372px 0 0 52px;
          }
          .box-small1{
            display: block;
            margin-left: 98px;
            margin-top: 178px;
        }
          .box-small1:nth-child(2){
            margin-top: 10px;
            margin-left: 138px;
        }
        }
        .box-item1:nth-child(2){
          background-color: $beige;
          margin-left: 30px;
        }
        .box-item1:nth-child(3){
          margin-left: 30px;
        }
    }
    .box1{
      display: flex;
      flex-direction: row;
      .box-small{
        display: block;
        border-radius: 1px;
        filter: drop-shadow(0 0 0.5px rgba(20,20,21,0.14));
        margin-top: 10px;
    }
  }
}
.working, .services{
    background-color: $white;
}
.works, .team{
    background-color: $lightgreen;
}
