*, body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}


#mainCarousel {
    color: #170724;
  
    --carousel-button-bg: #fff;
    --carousel-button-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%),
      0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
  
    --carousel-button-svg-width: 20px;
    --carousel-button-svg-height: 20px;
  
    --carousel-button-svg-stroke-width: 2.5;
  }
  
  #mainCarousel .carousel__slide {
    width: 70%;
    padding: 0;
  }

  .btn{
    width: 150px;
    height: 40px;
    background-color: rgb(209, 208, 208);
    border-radius: 10px;
  }