*, body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}
.wrap{
    
    display: grid;
    grid-template-columns: repeat(4, 1fr 3fr);
    grid-template-rows: repeat(5, 1fr 2fr 3fr);
    grid-gap: 10px;
    .menu{
        background: blue;
    }
}