$base-color: #f5f5f5;
$black: black;
$lightpink: rgb(252,111,78);
$white: #ffffff;
$lightgreen: #fbfbfb;
$blue:    #0d6efd;
$pink: rgb(247, 70, 112);
$purple:  rgb(192, 72, 248);
$indigo: rgb(129, 126, 255);
$orange: rgb(255, 91, 53);
$beige: rgb(255, 242, 240);